* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background: url(../img/bg.png);
    overflow-x: hidden;
}
a {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.container {
    .top-bar {
        width: 100vw;
        background-color: #86001e;
        filter: brightness(85%);
        z-index: 1;
        padding: 0.7rem;
        border-bottom: 1px solid #c60035;
    }
    header {
        width: 100vw;
        padding: 1rem;
        .split {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.8rem;
            margin: 0 auto;
            // width: 70vh;
            .logo {
                display: flex;
                justify-content: center;
            }
            .uni-name {
                width: 85%;
                text-align: center;

                h1 {
                    padding: 0.5em 1em;
                    color: white;
                    font-size: 1.3em;
                    font-family: Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                }
            }
        }
    }
}
main {
    #hamburgerMenu {
        position: relative;
        top: -20em;
        margin: 0.4rem 1.1rem;
        padding: 0px 0.2rem;
        cursor: pointer;
        .svg {
            fill: white;
        }
    }
    #nav-bar {
        margin-top: -20.6rem;
        margin-left: 2rem;
        position: absolute;
        display: none;
        z-index: 999;

        ul {
            padding: 0.8rem 0px;
            background-color: #83012a;
            border: 1px solid black;
            border-radius: 10px;
            list-style: none;
            display: inline-block;
            li {
                &:hover {
                    background-color: #c5141d;
                    border-radius: 2px;
                }
            }
            > li {
                padding: 1px 10px;
                margin-bottom: 3px;
            }
            li {
                a {
                    font-size: 12px;
                    font-weight: bold;
                }
                &:hover {
                    ul {
                        animation: FadeIn 0.4s;
                    }
                }
            }
        }
        #Deep0-ul .Deep1-ul {
            display: none;
        }

        #Deep0-ul {
            ul {
                min-width: 9rem;
            }
            .Deep0-li {
                &:hover {
                    &:nth-child(2) {
                        .Deep1-ul {
                            margin-left: 4.6rem;
                        }
                    }
                    &:nth-child(3) {
                        .Deep1-ul {
                            margin-left: 3.9rem;
                        }
                    }
                    &:nth-child(4) {
                        .Deep1-ul {
                            margin-left: 3rem;
                        }
                    }
                    &:nth-child(5) {
                        .Deep1-ul {
                            margin-left: 2rem;
                        }
                    }
                    .Deep1-ul {
                        display: initial;
                        position: absolute;
                        .Deep1-li {
                            &:hover {
                                .Deep2-ul {
                                    position: absolute;
                                    display: inline-block;
                                    margin-top: 0.3rem;
                                    width: 25vh;
                                }
                            }
                        }
                        ul {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
#container {
    margin-top: -5rem;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
}
#container {
    height: 100vh;

    .main-content {
        height: 100vh;
        background-color: white;
        width: 70%;
        margin-bottom: 20%;
    }
}
#container .main-content .image-container {
    max-width: 100%;
    height: 50%;
    max-height: 100%;
    object-fit: contain;
    background-image: url(../images-slides/1.gif);
    background-size: 100% 100%;
    animation: slider 17s infinite reverse linear;
    box-shadow: 0 10px 6px -6px #777;
}

@keyframes slider {
    0% {
        background-image: url(../images-slides/2.gif);
    }
    20% {
        background-image: url(../images-slides/3.gif);
    }
    40% {
        background-image: url(../images-slides/4.jpeg);
    }
    60% {
        background-image: url(../images-slides/5.jpg);
    }
    80% {
        background-image: url(../images-slides/6.gif);
    }
    100% {
        background-image: url(../images-slides/1.gif);
    }
}

#container {
    .main-content {
        .split {
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            .welcome {
                h1 {
                    text-align: center;
                    height: auto;
                }
            }
            .teacher {
                justify-content: center;
                padding: 10px;
                height: 100vh;
                p {
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 2.5ch;
                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    #container {
        margin-top: -7rem;
    }
    .container header {
        .split {
            background-image: url(../img/header-shadow.png);
            z-index: 3;
            margin-top: -10px;
            justify-content: start;
            flex-direction: row;
            width: 70%;
            .logo {
                margin-top: -10px;
                img {
                    width: 160px;
                    height: 160px;
                }
            }
            .uni-name {
                width: 70%;
                margin-left: -1.7rem;
                margin-top: -1.3rem;
                h1 {
                    padding-left: 0px;
                    font-size: 2em;
                    font-weight: 700;
                }
            }
        }
    }
    main #nav-bar ul {
        border-radius: 0px;
    }
    .container main {
        #hamburger {
            display: none;
        }

        #nav-bar {
            margin-top: 10px !important  ;
            display: initial !important;
            position: relative;

            width: 100vw;
            #menu {
                position: relative;
                top: -7rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100vw;
                #Deep0-ul {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 1rem;
                    width: 70%;
                    a {
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    .Deep0-li {
                        > ul {
                            margin-right: -6rem;
                        }
                        .Deep1-ul {
                            margin: 0px 0px 0px 0px !important;
                            padding: 3px !important;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                #Deep0-ul {
                    .Deep0-li:hover {
                        .Deep1-ul {
                            animation: FadeIn 0.8s;

                            display: initial;
                            .Deep1-li {
                                &:hover {
                                    .Deep2-ul {
                                        display: initial;
                                    }
                                }
                                .Deep2-ul {
                                    display: none;
                                }
                            }
                        }
                    }
                    // display: initial;
                    // border-radius: 10px;
                    list-style: none;
                    position: relative;
                    padding: 1rem;
                    float: left;
                    a {
                        padding: 0px 10px;
                        display: block;
                    }
                    li {
                        float: left;
                        position: relative;
                        margin: 0;
                        padding: 0;
                    }
                    #Deep0-li:hover > ul {
                        display: initial;
                    }
                    .Deep0-li:hover {
                        border-bottom: 1px solid white;
                    }
                    ul li:hover {
                        background-color: #c5141d;
                    }
                    ul > li {
                        margin: 5px 0px;
                    }
                    ul {
                        border-radius: 7px;
                        // display: initial;
                        position: absolute;
                        background-color: #83012a;
                        top: 100%;
                        left: 0;

                        li {
                            float: none;
                            width: 200px;
                        }
                        li:hover {
                            border-radius: 4px;
                            // border: 1px solid white;
                        }
                        ul {
                            top: 0;
                            left: 100%;
                        }
                    }
                }
            }
            #menu > ul {
                background-color: #83012a;
                z-index: 100;
            }
        }
    }
}
@media only screen and (max-width: 1527px) and (min-width: 1345px) {
    .container {
        header {
            .split {
                .uni-name {
                    h1 {
                        margin-left: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        main {
            #nav-bar {
                display: initial;
                margin-left: 3rem;
                #menu {
                    ul {
                        li {
                            > a {
                                padding: 0px 5px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1344px) and (min-width: 1315px) {
    .container {
        header {
            .split {
                .uni-name {
                    h1 {
                        margin-left: 2rem;
                        font-size: 24px;
                    }
                }
            }
        }
    }
    #nav-bar {
        #menu {
            #Deep0-ul {
                width: 50vw;
                padding: auto;
                > a {
                    font-size: 15px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 1314px) and (min-width: 1152px) {
    .container header .split .uni-name {
        h1 {
            margin-left: 3rem;
            font-size: 22px;
        }
    }
    .container main #nav-bar #menu #Deep0-ul a {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1152px) and (min-width: 917px) {
    .container header .split .uni-name {
        h1 {
            margin-left: 3rem;
            font-size: 20px;
        }
    }
    .container main #nav-bar #menu #Deep0-ul a {
        font-size: 10px;
        font-weight: 600;
    }
    .container main #nav-bar #menu #Deep0-ul {
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media only screen and (max-width: 916px) and (min-width: 800px) {
    #container .image-container {
        width: 100%;
    }
    #container .main-content {
        background-color: white;
        width: 73.3%;
        height: 100vh;
        margin-left: 7px;
    }
    .container header .split .logo img {
        width: 100px;
        height: 100px;
    }
    .container header .split .uni-name h1 {
        margin-left: 3rem;
        font-size: 17px;
        font-weight: 600;
    }
    .container main #nav-bar #menu {
        flex-wrap: nowrap;
        width: 105vw;
    }
    .container main #nav-bar #menu #Deep0-ul li {
        margin: 0px;
    }
    .container main #nav-bar #menu #Deep0-ul {
        padding: 15px;
    }
    .container main #nav-bar #menu #Deep0-ul a {
        font-weight: 600;
        font-size: 10px;
        padding: 0px;
    }
    .container main #nav-bar #menu #Deep0-ul {
        margin-top: 1rem;
        margin-left: -2rem;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
