* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    background: url(../img/bg.png);
    overflow-x: hidden;
}
a {
    color: white;
}
.container {
    .top-bar {
        width: 100vw;
        background-color: #86001e;
        filter: brightness(85%);
        z-index: 1;
        padding: 0.7rem;
        border-bottom: 1px solid #c60035;
    }
    header {
        width: 100vw;
        padding: 1rem;
        .split {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.8rem;
            margin: 0 auto;
            width: 70vh;
            .logo {
                display: flex;
                justify-content: center;
            }
            .uni-name {
                width: 85%;
                text-align: center;

                h1 {
                    padding: 0.5em 1em;
                    color: white;
                    font-size: 1.3em;
                    font-family: Arial, Helvetica, sans-serif;
                    text-transform: uppercase;
                }
            }
        }
    }
}
main {
    #hamburgerMenu {
        position: relative;
        top: -20em;
        margin: 1rem 2rem;
        padding: 0px 0.2rem;
        cursor: pointer;
        .svg {
            fill: white;
        }
    }
    nav {
        ul {
            display: none;
        }
    }
}
@media only screen and (min-width: 800px) {
    .container header {
        .split {
            background-image: url(../img/header-shadow.png);
            z-index: 3;
            margin-top: -10px;
            justify-content: start;
            flex-direction: row;
            width: 70%;
            .logo {
                margin-top: -10px;
                img {
                    width: 160px;
                    height: 160px;
                }
            }
            .uni-name {
                width: 70%;
                margin-left: -1.7rem;
                margin-top: -1.3rem;
                h1 {
                    padding-left: 0px;
                    font-size: 2em;
                    font-weight: 700;
                }
            }
        }
    }

    .container main {
        #hamburger {
            display: none;
        }
        nav {
            width: 90vh;
            #menu {
                position: relative;
                top: -7rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 100vw;
                padding: 1rem;
                ul {
                    a {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 18px;
                        color: #fff;
                        font-weight: 500;
                        text-decoration: none;
                    }
                    display: initial;
                    border-radius: 10px;
                    list-style: none;
                    position: relative;
                    padding: 1rem;
                    float: left;
                    a {
                        padding: 0px 10px;
                        display: block;
                    }
                    li {
                        float: left;
                        position: relative;
                        margin: 0;
                        padding: 0;
                    }
                    li:hover > ul {
                        display: block;
                    }
                    .Deep0-li:hover {
                        border-bottom: 1px solid white;
                    }
                    ul li:hover {
                        background-color: #d4033b;
                    }
                    ul > li {
                        margin: 5px 0px;
                    }
                    ul {
                        border-radius: 7px;
                        display: none;
                        position: absolute;
                        background-color: #b10d0d;
                        top: 100%;
                        left: 0;
                        li {
                            float: none;
                            width: 200px;
                        }
                        li:hover {
                            border-radius: 4px;
                            border: 1px solid white;
                        }
                        ul {
                            top: 0;
                            left: 100%;
                        }
                    }
                }
            }
            #menu > ul {
                background-color: #970008;
                z-index: 100;
            }
        }
    }
}
@media only screen and (max-width: 1527px) and (min-width: 970px) {
    .container {
        header {
            .split {
                .logo {
                }
                .uni-name {
                    h1 {
                        margin-left: 2rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
        main {
            nav {
                margin-left: 3rem;
                #menu {
                    ul {
                        .Deep0-li {
                            a {
                                padding: 0px 5px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 973px) and (min-width: 800px) {
    .container {
        header {
            .split {
                .logo {
                }
                .uni-name {
                    h1 {
                        margin-left: 1rem;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        main {
            nav {
                margin-left: 2rem;
                #menu {
                    ul {
                        li {
                            a {
                                padding: 0px 4px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}
